<%- include("header") -%>

<h2>This is the about section</h2>

<p>I really don't know what to put in the about section so putting this dummy text</p>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti perspiciatis quas ex, ipsum delectus
    alias, dolores blanditiis repudiandae porro quasi minus nihil, facilis dolorum modi quos doloribus voluptatibus
    velit sed eligendi optio perferendis! Sapiente ratione quaerat nisi culpa dignissimos necessitatibus cum placeat
    autem natus corrupti nostrum itaque voluptatem vero, cumque aliquid officia doloremque modi? Rem similique
    cupiditate, eos, esse laborum suscipit quisquam necessitatibus consectetur asperiores quidem perspiciatis, facere
    vitae cum sit commodi nihil maxime reprehenderit? At neque laboriosam officiis fugiat aut id eaque nulla quae
    asperiores inventore ea dolorum magnam, a temporibus voluptatem unde numquam, dolorem minus sit rem reiciendis
    architecto! Dolores provident neque architecto nemo dicta molestiae dignissimos eaque asperiores perspiciatis
    assumenda possimus delectus, blanditiis nam vitae natus. Quis quam sequi voluptatum itaque, dicta eum quaerat autem
    quod ipsa doloremque. Dolore, laborum dolorum laudantium repellendus, ullam amet vel maxime voluptatem deleniti
    deserunt perspiciatis sint, cumque doloremque. Consequatur quis quibusdam mollitia ipsum iusto doloribus obcaecati,
    voluptatem sunt illo! Deleniti sint quisquam repellat distinctio tempora, neque molestiae iusto, accusantium
    voluptatibus dolorem officiis hic. Odit odio dolor laborum voluptatem sed nihil tempora aspernatur soluta.
    Voluptatem saepe minus distinctio ipsa, nostrum, eaque, alias omnis et odio perferendis molestias suscipit facere
    laboriosam assumenda!
</p>

<%- include("footer") -%>